# Entornos virtuales
.venv/
venv/
env/

# Cachés de Python
__pycache__/
*.pyc

# Archivos del sistema / editores
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documentación académica privada del TFG
docs_privados/
memoria/
borradores/

# Documentación académica privada del TFG
APA_7ed_UNIR.pdf
guia TFG.pdf
instrucciones.pdf
plantilla_indiv.docx
programacion.pdf
TFE_primera_entrega_*.pdf

# Salidas temporales
outputs/